        p {
            color: black;

        }

        nav ul {
            display: inline-block;
            list-style: none;
        }

        nav ul li {
            display: inline-block;
            margin-right: 20px;
        }

        ul li a {
            text-decoration: none;
        }
        .logo img{
            width: 400px;
            height: 100px;
        }

        .box {
            margin: auto;
            opacity: 100%;
            background-color:#ff523b;
            color: white;
            padding: 2px;
            border: 2px;
            text-align: center;
        }

        .box h1 {
            opacity: 100%;

        }

        .categories {
            margin: 70px 0;
        }

        .col-3 {
            flex-basis: 30%;
            min-width: 250px;
            margin-bottom: 30px;
        }

        .col-3 img {
            width: 100%;
            height: 400px;
        }

        .row {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .col-2 {
            flex-basis: 50%;
            padding: 50px 0;
        }

        .col-2 img {
            max-width: 100%;
            padding: 50px 0;
        }

        .col-2 h1 {
            font-size: 50px;
            line-height: 60px;
            margin: 25px 0;
        }

        .btn {
            display: inline-block;
            background: #ff523b;
            color: #fff;
            padding: 8px 30px;
            margin: 30px 0;
            border-radius: 30px;
        }

        .navbar {
            display: flex;
            align-items: center;
            padding: 20px;
        }

        nav {
            flex: 1;
            text-align: right;
        }

        .container {
            max-width: 1300px;
            margin: auto;
            padding-left: 25px;
            padding-right: 25px;
        }

        .header {
            background: radial-gradient(yellow white);
        }

        .col-4 {
            flex-basis: 25%;
            padding: 10px;
            min-width: 200px;
            margin-bottom: 50px;

        }

        .col-4 img {
            width: 100%;
        }

        .col-4 h2 {
            text-align: center;
        }